<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My見守りサイト</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>My見守りサイト</h1>
        </header>

        <section class="information">
            <h1>Place1の様子です</h1>
        </section>
    </div>
    <div class="box1">
        <div class="section2">
            <h2>　カメラ１</h2>
            <img src="img/entrance.jpg" width="500">
            <ol>
                <li><a href="Place1/place1.html" target="_blank">最新</a></li>
                <li><a href="Place1/place1-2.html" target="_blank">一回前</a></li>
                <li><a href="Place1/place1-3.html" target="_blank">二回前</a></li>   
                <li><a href="Place1/place1-4.html" target="_blank">三回前</a></li>
                <li><a href="Place1/place1-5.html" target="_blank">四回前</a></li>
                <li><a href="Place1/place1-6.html" target="_blank">五回前</a></li> 
                <li><a href="Place1/place1-7.html" target="_blank">六回前</a></li>
                <li><a href="Place1/place1-8.html" target="_blank">七回前</a></li>
                <li><a href="Place1/place1-9.html" target="_blank">八回前</a></li>   
                <li><a href="Place1/place1-10.html" target="_blank">九回前</a></li>
                <li><a href="Place1/place1-11.html" target="_blank">十回前</a></li>
                <li><a href="Place1/place1-12.html" target="_blank">十一回前</a></li>  
            </ol>
        </div>
    </div>
</body>